/output.jpg
/out1.png
/lib/lib/blur.o
/lib/lib/libimagequant.o
/lib/lib/mediancut.o
/lib/lib/mempool.o
/lib/lib/nearest.o
/lib/lib/pam.o
/lib/lib/viter.o
/lib/lib/viter.lo
/lib/lib/pam.lo
/lib/lib/mempool.lo
/lib/lib/libimagequant.so.0
/lib/lib/mediancut.lo
/lib/lib/nearest.lo
/lib/lib/blur.lo
/lib/lib/libimagequant.lo
node_modules
bin
.DS_Store
